<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    
        <property name="hbm2ddl.auto">update</property> 
		
		<!--  HIKARI -->
		
		<property name="connection.provider_class">com.zaxxer.hikari.hibernate.HikariConnectionProvider</property>
		<property name="hibernate.hikari.minimumIdle">5</property> 
		<property name="hibernate.hikari.maximumPoolSize">10</property>
		<property name="hibernate.hikari.idleTimeout">3000</property> 
		
		
		<mapping class="demo.entity.User" />
		<mapping class="demo.entity.Role" />
		
		
        <mapping class="qard.entity.Borrower"/>
        <mapping class="qard.entity.LegalCapacity" />
        <mapping class="qard.entity.LegalCapacityOption" />
        <mapping class="qard.entity.LegalCapacityResult" />
        
        
    </session-factory>
</hibernate-configuration>
